# obodc code owners, refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repo.
*	@LioRoger @guowl3 @MarkPotato777
# libs
/packages/libs/db-browser/	@PeachThinking @MarkPotato777
/packages/libs/ob-sql-parser/	@PeachThinking @MarkPotato777
# 3rd-party
/server/3rd-party/	@MarkPotato777 @LioRoger
# common
/packages/backend/common/	@LioRoger @guowl3
# migrate
/packages/backend/migrate/	@MarkPotato777 @LioRoger
# core
/packages/backend/core/	@LioRoger @guowl3
/packages/backend/core/**/alarm/	@LuckyPickleZZ @LioRoger
/packages/backend/core/**/authority/	@MarkPotato777 @LioRoger
/packages/backend/core/**/datamasking/	@LuckyPickleZZ @MarkPotato777
/packages/backend/core/**/datasource/	@MarkPotato777 @LioRoger
/packages/backend/core/**/flow/	@zijiacj @LioRoger @MarkPotato777
/packages/backend/core/**/migrate/	@MarkPotato777 @LioRoger
/packages/backend/core/**/session/	@LuckyPickleZZ @LioRoger
/packages/backend/core/**/shared/	@LioRoger @guowl3
/packages/backend/core/**/sql/	@LuckyPickleZZ @LioRoger
/packages/backend/core/**/task/	@LioRoger @guowl3
# service common
/packages/backend/service/	@LioRoger @guowl3
/packages/backend/service/**/config/	@LioRoger @guowl3
/packages/backend/service/**/metadb/	@LioRoger @guowl3
/packages/backend/service/**/service/common/	@LioRoger @MarkPotato777
# service business
/packages/backend/service/**/service/audit/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/automation/	@LuckyPickleZZ @ungreat
/packages/backend/service/**/service/captcha/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/collaboration/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/config/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/datasecurity/	@LuckyPickleZZ @MarkPotato777
/packages/backend/service/**/service/datatransfer/	@LuckyPickleZZ @LioRoger
/packages/backend/service/**/service/db/	@PeachThinking @LioRoger
/packages/backend/service/**/service/diagnose/	@LuckyPickleZZ @LioRoger
/packages/backend/service/**/service/dispatch/	@LioRoger @guowl3
/packages/backend/service/**/service/dlm/	@guowl3 @kiko-art
/packages/backend/service/**/service/dml/	@LuckyPickleZZ @PeachThinking
/packages/backend/service/**/service/encryption/	@PeachThinking @LioRoger
/packages/backend/service/**/service/feature/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/flow/	@zijiacj @LioRoger @MarkPotato777
/packages/backend/service/**/service/i18n/	@LuckyPickleZZ
/packages/backend/service/**/service/iam/	@MarkPotato777 @PeachThinking @LioRoger
/packages/backend/service/**/service/info/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/integration/	@ungreat @LioRoger @yiminpeng
/packages/backend/service/**/service/lab/	@LuckyPickleZZ @ungreat
/packages/backend/service/**/service/monitor/	@ungreat @ysjemmm @LioRoger
/packages/backend/service/**/service/notification/	@LuckyPickleZZ @MarkPotato777
/packages/backend/service/**/service/objectstorage/	@CHLK @MarkPotato777
/packages/backend/service/**/service/onlineschemachange/	@LioRoger @LuckyPickleZZ
/packages/backend/service/**/service/partitionplan/	@guowl3 @LioRoger
/packages/backend/service/**/service/permission/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/pldebug/	@zijiacj @MarkPotato777
/packages/backend/service/**/service/plugin/	@LioRoger @LuckyPickleZZ
/packages/backend/service/**/service/quartz/	@guowl3 @LioRoger
/packages/backend/service/**/service/requlation/	@MarkPotato777 @zijiacj
/packages/backend/service/**/service/resourcegroup/	@MarkPotato777 @zijiacj
/packages/backend/service/**/service/resultset/	@LuckyPickleZZ @PeachThinking
/packages/backend/service/**/service/rollbackplan/	@PeachThinking @MarkPotato777
/packages/backend/service/**/service/schedule/	@guowl3 @LioRoger
/packages/backend/service/**/service/script/	@LuckyPickleZZ @LioRoger
/packages/backend/service/**/service/session/	@LuckyPickleZZ @LioRoger
/packages/backend/service/**/service/shadowtable/	@MarkPotato777 @PeachThinking
/packages/backend/service/**/service/snippet/	@LuckyPickleZZ @LioRoger
/packages/backend/service/**/service/sqlcheck/	@zijiacj @PeachThinking @MarkPotato777
/packages/backend/service/**/service/structurecompare/	@PeachThinking @MarkPotato777
/packages/backend/service/**/service/systemconfig/	@MarkPotato777 @LioRoger
/packages/backend/service/**/service/task/	@guowl3 @LioRoger
/packages/backend/service/**/service/websocket/	@LuckyPickleZZ @LioRoger
# plugins
/extensions/plugins/	@LioRoger @guowl3 @MarkPotato777
/extensions/plugins/connect-plugin-doris/	@LioRoger @guowl3 @MarkPotato777
/extensions/plugins/connect-plugin-mysql/	@LioRoger @guowl3 @MarkPotato777
/extensions/plugins/connect-plugin-ob-mysql/	@LioRoger @guowl3 @MarkPotato777
/extensions/plugins/connect-plugin-ob-oracle/	@LioRoger @guowl3 @MarkPotato777
/extensions/plugins/connect-plugin-oracle/	@LioRoger @guowl3 @MarkPotato777
/extensions/plugins/schema-plugin-api/	@PeachThinking @MarkPotato777
/extensions/plugins/schema-plugin-doris/	@PeachThinking @MarkPotato777
/extensions/plugins/schema-plugin-mysql/	@PeachThinking @MarkPotato777
/extensions/plugins/schema-plugin-ob-mysql/	@PeachThinking @MarkPotato777
/extensions/plugins/schema-plugin-ob-oracle/	@PeachThinking @MarkPotato777
/extensions/plugins/schema-plugin-odp-sharding-ob-mysql/	@PeachThinking @MarkPotato777
/extensions/plugins/schema-plugin-oracle/	@PeachThinking @MarkPotato777
/extensions/plugins/task-plugin-api/	@LuckyPickleZZ @LioRoger
/extensions/plugins/task-plugin-doris/	@LuckyPickleZZ @LioRoger
/extensions/plugins/task-plugin-mysql/	@LuckyPickleZZ @LioRoger
/extensions/plugins/task-plugin-ob-mysql/	@LuckyPickleZZ @LioRoger
/extensions/plugins/task-plugin-ob-oracle/	@LuckyPickleZZ @LioRoger
/extensions/plugins/task-plugin-oracle/	@LuckyPickleZZ @LioRoger
# starters
/extensions/starters/	@LioRoger @guowl3 @MarkPotato777
/extensions/starters/desktop-starter/	@LioRoger @guowl3 @MarkPotato777
/extensions/starters/web-starter/	@LioRoger @guowl3 @MarkPotato777
# modules
/extensions/modules/	@LioRoger @CHLK
# CI/CD
/.github/	@MarkPotato777 @LioRoger
/builds/	@MarkPotato777 @LioRoger
/build/config/	@MarkPotato777 @LioRoger
/build/packaging/	@MarkPotato777 @LioRoger
/build/output/	@MarkPotato777 @LioRoger
/script/	@MarkPotato777 @LioRoger
/distribution/	@MarkPotato777 @LioRoger
/packages/backend/test-support/	@MarkPotato777 @LioRoger
/tests/integration/	@MarkPotato777 @LioRoger
/tests/scripts/	@MarkPotato777 @LioRoger
/apps/server/	@MarkPotato777 @LioRoger
/apps/web-client/	@MarkPotato777 @LioRoger
# i18n
/packages/backend/core/src/main/resources/i18n/	@Jane201510 @JessieWuJiexi @LioRoger @MarkPotato777 @guowl3
# docs
/docs/	@Jane201510 @MarkPotato777 @LioRoger @guowl3
CHANGELOG.md	@Jane201510 @JessieWuJiexi @MarkPotato777 @LioRoger @guowl3
CHANGELOG-zh-CN.md	@Jane201510 @JessieWuJiexi @MarkPotato777 @LioRoger @guowl3
README.md	@Jane201510 @JessieWuJiexi @MarkPotato777 @LioRoger @guowl3
README-zh-CN.md	@Jane201510 @JessieWuJiexi @MarkPotato777 @LioRoger @guowl3
